.popupBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupBox__content {
    position: relative;
    width: 500px;
    height: 225px;
    background: #fff;
    border-radius: 30px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popupBox__img {
    position: relative;
    width: 200px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupBox__img img {
    width: 100%;
    margin-top: 8rem;
}

.popupBox__img img {
    position: relative;
    max-width: 80%;
    z-index: 1;
}

.popupBox__contentTwo {
    position: relative;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popupBox__title {
    color: #333;
    font-weight: 300;
    font-size: 2rem;
    margin: 10px;
}

.popupBox__titleTwo {
    color: #887fff;
    line-height: 0.5em;
    font-size: 1.8rem;

    margin: 10px;
}

.popupBox__titleTwo span {
    color: #333;
    font-size: 1rem;
    text-transform: uppercase;
}

.popupBox__description {
    font-weight: 200;
    margin: 10px;
    color: black;
}

.popupBox__btn {
    display: inline-block;
    padding: 10px 20px;
    background: #887fff;
    text-decoration: none;
    color: #000;
    margin: 10px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .popupBox__content {
        width: 300px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .popupBox__img {
        height: 200px;
        transform: translateY(-70px);
    }

    .popupBox__contentTwo {
        height: auto;
        text-align: center;
        padding-top: 0;
    }
}