/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:600,300"); */
.center {
    height: 240px;
    width: 250px;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 4px 30px rgb(223 45 70 / 35%);
    border: outset;
    margin: 15px;
  }
  .profile {
    float: left;
    width: 165px;
    height: 240px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .profile .image {
    position: relative;
    width: 60px;
    height: 60px;
    margin: 30px auto 0 auto;
    cursor: pointer;
  }
  
  .profile .image .circle-1 {
    position: absolute;
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    top: -2px;
    left: -2px;
    border-width: 1px;
    border-style: solid;
    border-color: #786450 #786450 #786450 transparent;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
  }
  
  .profile .image .circle-2 {
    position: absolute;
    box-sizing: border-box;
    width: 75px;
    height: 75px;
    top: -3px;
    left: -5px;
    border-width: 1px;
    border-style: solid;
    border-color: #c13584 transparent #e1306c #fd1d1d;
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
  }
  
  .profile .image img {
    display: block;
    border-radius: 50%;
    background: #f5e8df;
    width: 65px;
    height: 65px;
  }
  
  .profile .image:hover .circle-1 {
    transform: rotate(360deg);
  }
  
  .profile .image:hover .circle-2 {
    transform: rotate(-360deg);
  }
  
  .profile .name {
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
  }
  
  .profile .job {
    font-size: 11px;
    line-height: 15px;
  }
  /* 
  .profile .actions {
    margin-top: 28px;
  }
  
  .profile .actions .btn {
    display: block;
    width: 110px;
    height: 25px;
    margin: 0 auto 10px auto;
    background: none;
    border: 1px solid #c13584;
    border-radius: 15px;
    font-size: 12px;
    font-weight: 600;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    color: #c13584;
  }
  
  .profile .actions .btn:hover {
    background: #c13584;
    color: #fff;
  } */
  
  .stats {
    float: left;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .stats .box {
    box-sizing: border-box;
    width: 4.7rem;
    height: 4.8rem;
    border-radius: .5rem;
    margin-bottom: 1px;
    background: linear-gradient(
      45deg,
      #405de6,
      #5851db,
      #833ab4,
      #c13584,
      #e1306c,
      #fd1d1d
    );
    color: black;
    text-align: center;
    padding-top: 1.2rem;
    transition: all 0.4s ease-in-out;
  }
  
  .stats .box:hover {
    background: #c13584;
    cursor: pointer;
  }
  
  .stats .box:nth-child(2) {
    margin: 1px 0;
  }
  
  .stats span {
    display: block;
  }
  
  .stats .value {
    font-size: 18px;
    font-weight: 600;
  }
  
  .stats .parameter {
    font-size: 11px;
  }
  
@media screen and (max-width:560px) {
  .CardSmallDeviceAlignment{display: flex; justify-content: center;}
}