.mspop {
  position: absolute;
  right: 0px;
  top: 250px;
  width: 100%;
  z-index: 900;
  background-color: transparent;
  animation-name: animation;
  animation: animation1 0.3s ease-in-out;
}

@keyframes animation1 {
  from {
    /* transform:translateY(200px); */
    transform: scale(0);
  }
  to {
    /* transform:translateY(0px); */
    transform: scale(1);
  }
}
