.FaqsCss{
    background-color:rgb(0, 0, 0);
    height: 100vh;
    overflow-y: auto;
}

.bgchange{background-color: rgb(13, 0, 42) !important;}

@media screen and (max-width:900px) {
    .container{padding-top: 80px;};
}