/* @media screen and (max-width:700px) {
    .FingerprintAccordion{font-size: 13px !important;}
    .FingerprintAccordion_des{font-size: 17px !important;}
}
@media screen and (max-width:600px) {
    .FingerprintAccordion{font-size: 12px !important;}
    .FingerprintAccordion_des{font-size: 15px !important;}
}
@media screen and (max-width:1306px) {
     .FingerprintMain{background-color:black;height:110vh}
}
@media screen and (max-width:806px) {
    .FingerprintMain{background-color:black;height:120vh}
}
@media screen and (max-width:756px) {
    .FingerprintMain{background-color:black;height:130vh}
}
@media screen and (max-width:500px) {
    .FingerprintMain{background-color:black;height:132vh}
} */
.FingerprintAccordion_des{
text-align: left;}