.loader_main {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: 3s;
  position: relative;
  background: linear-gradient(0deg, #000, #272727);
}


.loader_main:before,
.loader_main:after {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
      #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: 1;
  animation: steam 10s linear infinite;
  border-radius: 50%;

}

@keyframes steam {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.loader_main:after {
  filter: blur(50px);
}

.loader_img_container {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  background-color: #fff;
  /* background: linear-gradient(0deg, #000, #272727); */


}

.loader_img {
  width: 90%;

}