#pitch {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

/* h3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

#pitchfield {
    padding: 1rem;
    box-shadow: rgba(127, 181, 243, 0.925)-5px 5px, rgba(143, 194, 253, 0.925) -10px 10px, rgba(157, 203, 255, 0.925) -16px 16px;
    border-radius: 3px;
    background-color: #1976d2;
    color: #fff;
}