.btnFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 2rem; */
    align-items: center;
}


@media only screen and (max-width: 1058px) {
.container-fluid{
    /* padding-top: 1rem; */
}


    .workDiv{
        /* padding-top: 2rem; */
        /* margin-top: 0; */
    }

   
}


@media only screen and (max-width: 528px) {

    .btnFlex{
        flex-direction: column;
    }
    .singleBtn{
        margin:1rem 0 1rem 0;
        align-items: center;
    }
    .btnIcon{
        margin-left: 2px;
    }

}

@media screen and (max-width:900px) {
    .imgMywork{margin-top: 50px;}
}