/* h1{
    text-align: center;
    color:red;
    margin: 20px;

} */
.container{
    width: 100%;
}
.box{
    max-width: 350px;
    /* padding: 10px; */
    border: 3px solid chocolate;
    border-radius: 12px;
    margin: 10px auto;
}

.box img{
    max-width: 345px;
    /* height: 300px; */
    display: block;
    object-fit: cover;
    /* padding: 5px; */
    border-radius: 10px;
}

.box .heading,
.box .text{
    width: 90%;
    /* padding: 0 5px; */
    min-width: 300px;

}

p{
    margin: 10px 0;
text-align:inherit;
}

span{
    /* display: inline-block; */
    /* background: crimson; */
    color: blue;
    text-decoration: none;
    /* padding: 10px 20px; */
}

@media (min-width:700px) {
    .container{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

    }

    .box{
        max-width: 700px;
    }

    .box img{ 
        float: left;
        max-width: 300px;
            height: 300px;
            padding: 2px;


    }

    .box .heading,
    .box .text{
        float: right;
        width: 50%;
    }
    
}