.comment_main {
    h5 {
        text-align: center;
        color: white;
        margin: 1rem 0;

    }

    span {
        display: flex;
        flex-wrap: wrap;

        .span_2 {
            color: rgb(0, 0, 0);
            margin: .4rem .4rem;
            padding: 5px 10px;
            border-radius: 10px;
            font-size: 80%;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                scale: 1.1;
                
            }

            .span_3 {
                font-size: .9rem;
            }
        }
    }
}

// .video-container {
//     position: relative;
//     width: 100%;
//     height: 0;
//     padding-bottom: 56.25%; /* Set the aspect ratio (16:9 for widescreen video) */
//   }
  
//   .video-container video {
//     position: absolute;
//     width: 100%;
//     height: 85%;
//   }
  
  /* Media queries for responsiveness */
  
  // @media screen and (max-width: 767px) {
  //   .video-container {
  //     padding-bottom: 75%; 
  //   }
  // }
  
  /* Add more media queries as needed for different screen sizes */
  