.mainDiv {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
}

.workSample {
    color: lightGray;
    text-align: left;
}

.workSample span {
    font-size: 1.6rem;
    color: white
}

.mainCard {
    background: linear-gradient(90deg, rgba(14, 0, 255, 1) 0%, rgba(255, 0, 0, 1) 100%);
    display: flex;
    flex-direction: row;
    max-width: 68%;
    max-height: 60%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid rgb(255, 255, 255);
    /* border-radius: 2rem; */

}

.cardImage {
    width: 30%;
}

.mainBox {
    display: flex;
    flex-direction: column
}

.cardContent {
    /* flex: 1 0 auto */
}

.cardContent_box {
    display: flex;
    flex-direction: row
}

.avatar {
    width: 3rem;
    height: 3rem;
    cursor: pointer
}

#userName {
    margin-left: 1rem
}

#workCat {
    margin: 0;
    color: lightGray
}

#work_btn {
    padding-left: 10rem
}

#delBtn {
    color: white;
}

#editBtn {
    color: white;
    padding: .2rem 1.3rem .2rem 1.3rem;

    margin-top: 4px;
}

.titDes {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-bottom: 5px;
    color: white
}

#desc span {
    color: black;
    cursor: pointer;
    font-weight: bold
}


/* @media screen and (max-width: 999px) {
    .mainCard {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        max-height: 60%;
        margin-top: 2rem;
        margin-bottom: 2rem;

    }

    .cardImage {
        width: 100%;
        height: 20rem;
    }

} */