.workProfile {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.workProfile:hover {
  opacity: 0.8;
  transform: scale(1.02);
}

.bg-black {
  background: #000;
}

.skill-block,
.plus_work {
  margin: 1.5px;
  width: 25%;
  height: 9rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background: url('https://burst.shopifycdn.com/photos/person-holds-a-book-over-a-stack-and-turns-the-page.jpg?width=1200&format=pjpg&exif=0&iptc=0'); */
  cursor: pointer;
}
.plus_work:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
.skill-block:hover {
  opacity: 0.8;
  /* scale: 1.1; */
  transform: scale(1.05);
}

@media (min-width: 768px) and (max-width: 1200px) {
  .skill-block {
    padding: 0px !important;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .skill-block {
    padding: 0px !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .Work__card {
    /* width: 150%; */
  }
}

@media (min-width: 1200px) {
  .skill-block {
    padding: 0 !important;
  }
  .plus_work {
  }
}

/* body {
  background-color: #eeeeee;
} */

.icon-bar {
  position: fixed;
  top: 43%;
  left: 13.5%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  border-radius: 50%;
  font-size: 20px;
  height: 60px;
  width: 60px;
  margin-bottom: 4px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
