.pdf_main{
    text-align: center;
}

.pdf_header{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}



@media screen and (max-width: 822px) {
   


}