.icon-bar {
    position: fixed;
    top: 50%;
    left:93%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 999;
  }
  
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  
  @media screen and (min-width:912px) {
    .icon-bar {
        left:90%;
    }
}

@media screen and (min-width: 500px) and (max-width: 912px) {
  .icon-bar {
    left: 87%;
  }
}
@media screen and (max-width:499px) {
    .icon-bar {
        display: none;
    }
}