.contact-section .form-control {
    border: 1px solid #2fbfbc;
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
}

#mepic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    color: #fff;
    font-size: 35px;
    letter-spacing: 1.25px;
    margin-top: 0;
}

.contact-fields {
    padding: 40px 0 0;
}

.email,
.working-hours {
    margin-bottom: 30px;
}

.email {
    color: #fd4f00;
    font-size: 18px;
}

.contact-h2 {
    color: #fd4f00;
    padding-top: 20px;
}

.contact-fields .form-group {
    margin-bottom: 35px;
}

.contact-info {
    margin-top: -40px;
}

.contact-fields .form-group input,
.contact-fields .form-group textarea {
    font-size: 16px;
    border-radius: 2px solid #2fbfbc;
}

.btn {
    font-size: 15px;
    padding: 22px 46px 18px;
    line-height: 1;
    border: none;
    border-radius: 0;
    position: relative;
    letter-spacing: 0.3px;
}

.ct-section-head {
    margin-top: 1rem;
    color: #fff;
}

.btn {
    font-size: 15px;
    padding: 22px 46px 18px;
    line-height: 1;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    position: relative;
    letter-spacing: 0.3px;
}

#fdbtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.MuiRating-iconFilled {
    font-size: 38px;
  }
  

@media screen and (min-width: 980px) {
    .contact-info {
        padding-left: 110px;
    }
}
.RatingStarbtn{margin-left: 5px;}
@media screen and (max-width: 900px) {
   .FeedbackMe{margin-top: 50px;}
   .RatingStar{display: flex; justify-content: center; gap: 0rem !important;}
   .Feedbacktext{text-align: center;}
   .RatingStarbtn{margin-left: 0px;}
}

