/* .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 750px;
  padding-bottom: 15px;

  background: linear-gradient(
    90deg,
    rgba(14, 0, 255, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
} */

#workImg {
  width: 150px;
  height: 150px;
  /* border-radius: 50%; */
  background-image: linear-gradient(
    180deg,
    rgba(14, 0, 255, 1) 0%,
    rgba(255, 0, 0, 1) 100%
  );
  padding: 5px;
  margin-top: -45px;
  margin-left: -30rem;
  cursor: pointer;
}
#profImg {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  /* background-image:linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(255,0,0,1) 100%); */
  /* background-color:'white'; */

  padding: 5px;
  margin-top: -45px;
  margin-left: -1rem;
  cursor: pointer;
}

.cardDetail {
  margin-top: 10px 0;
  color: white;
}
#para {
  font-size: 20px;
  color: lightgray;
  justify-content: inherit;
}

.cont {
  width: 90%;
  height: 0;
  overflow: hidden;
  text-align: center;
  transition: all 0.2s ease;
}

.card .cont .link i {
  font-size: 30px;
  color: rgb(82, 82, 82);
  transition: all 0.2s ease;
}

.card .cont .link i:hover {
  color: black;
  cursor: pointer;
}

.card:hover > .cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 150px;
}

.card:hover > .link {
  width: 40%;
  display: flex;
  justify-content: space-between;
}
