/* .poster {
    margin:0;
    padding:0;
} */

.slick-dots li button:before {
  color: rgb(179, 178, 178) !important;
  font-size: 10px !important;
  margin-top: 10px;
}

.slick-dots li.slick-active button:before {
  color: white !important;
  /* font-size: 12px !important; */
}

.neonText {
  color: #fff;
  text-shadow:
        /* 0 0 7px #fff, */ 0 0 10px #fff, 0 0 21px #fff,
    /* 0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa, */
      /* 0 0 102px #0fa, */ 0 0 151px #0fa;
}

.posterImage {
  height: 520px;
}

.posterImage > img {
  margin: auto;
  display: block;
  width: 100%;
  /* height: 70%; */
}

.posterImage__overlay {
  position: absolute;
  padding: 5rem;
  bottom: 0px;
  height: 70%;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 1;
  transition: opacity 0.3s;
}

.posterImage__overlay:hover {
  opacity: 1;
}

.posterImage__title {
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 0.4rem;
  text-align: left;
}

.posterImage__runtime {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.posterImage__rating {
  margin-left: 3rem;
}

.posterImage__description {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  display: flex;
  text-align: left;
  width: 50%;
}

@media only screen and (max-width: 900px) {
  .posterImage {
    height: 370px;
  }
}

@media only screen and (max-width: 600px) {
  .posterImage {
    height: 300px;
  }

  .posterImage > img {
    margin: auto;
    display: block;
    width: 100%;
    height: 100%;
    /* height: 70%; */
  }
}

.DashboardCard {
  position: absolute;
  top: -25%;
  left: -10%;
  transform: translate(-100%, -8%);
}

.assign {
  width: 250px;
  height: 370px;
  border-radius: 10px;
}

.assign img {
  width: 250px;
  height: 370px;
  border-radius: 10px;
}

@media screen and (min-width: 1600px) and (max-width: 1973px) {
  .assign {
    height: 300px;
    width: 220px;
  }

  .assign img {
    height: 300px;
    width: 220px;
  }

  .posterImage__title {
    font-size: 35px;
  }

  .posterImage__runtime {
    font-size: 27px;
    margin-bottom: -12px;
  }
}

@media screen and (min-width: 988px) and (max-width: 1600px) {
  .assign {
    height: 280px;
    width: 200px;
  }

  .assign img {
    height: 280px;
    width: 200px;
  }

  .posterImage__title {
    font-size: 30px;
  }

  .posterImage__runtime {
    font-size: 23px;
    margin-bottom: -12px;
  }
}

@media screen and (max-width: 988px) {
  .assign {
    height: 290px;
    width: 210px;
  }

  .assign img {
    height: 290px;
    width: 210px;
  }

  .posterImage__title {
    font-size: 25px;
  }

  .posterImage__runtime {
    font-size: 20px;
    margin-bottom: -15px;
  }
}

@media screen and (max-width: 900px) {
  .assign {
    height: 160px;
    width: 130px;
  }

  .assign img {
    height: 160px;
    width: 130px;
  }

  .DashboardCard {
    position: absolute;
    top: -25%;
    left: -10%;
    transform: translate(-100%, -8%);
  }

  .posterImage__title {
    font-size: 17px;
  }

  .posterImage__runtime {
    font-size: 14px;
    margin-bottom: -15px;
  }
}

@media screen and (max-width: 820px) {
  .assign {
    height: 145px;
    width: 110px;
  }

  .assign img {
    height: 145px;
    width: 110px;
  }

  .DashboardCard {
    position: absolute;
    top: -25%;
    left: -10%;
    transform: translate(-100%, -8%);
  }

  .posterImage__title {
    font-size: 17px;
  }

  .posterImage__runtime {
    font-size: 14px;
    margin-bottom: -15px;
  }
}

/* @media screen and (max-width:720px){
    .assign{height: 125px;width: 120px;}
    .assign img {height:125px; width: 120px;}
    .DashboardCard{position:absolute;top:-11%;left:92%;transform: translate(-100%,-8%)}
    .posterImage__title{font-size: 12px}
} */

@media screen and (max-width: 750px) {
  .assign {
    height: 160px;
    width: 115px;
  }

  .assign img {
    height: 160px;
    width: 115px;
  }

  .DashboardCard {
    position: absolute;
    top: -25%;
    left: -10%;
    transform: translate(-100%, -8%);
  }

  .posterImage__title {
    font-size: 17px;
  }

  .posterImage__runtime {
    font-size: 13px;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 600px) {
  .assign {
    height: 110px;
    width: 90px;
  }

  .assign img {
    height: 110px;
    width: 90px;
  }

  .DashboardCard {
    position: absolute;
    top: -15%;
    left: -10%;
    transform: translate(-100%, -8%);
  }

  .posterImage__title {
    font-size: 14px;
  }

  .posterImage__runtime {
    font-size: 11px;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 450px) {
  .assign {
    height: 110px;
    width: 90px;
  }

  .assign img {
    height: 110px;
    width: 90px;
  }

  .DashboardCard {
    position: absolute;
    top: -15%;
    left: -10%;
    transform: translate(-100%, -8%);
  }

  .posterImage__title {
    font-size: 12px;
  }

  .posterImage__runtime {
    font-size: 10px;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 350px) {
  .assign {
    height: 110px;
    width: 90px;
  }

  .assign img {
    height: 110px;
    width: 90px;
  }

  .DashboardCard {
    position: absolute;
    top: -15%;
    left: -10%;
    transform: translate(-100%, -8%);
  }

  .posterImage__title {
    font-size: 10px;
  }

  .posterImage__runtime {
    font-size: 8px;
    margin-bottom: -28px;
  }
}
