.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.bcz {
    margin-bottom: 100px;
}

.a {
    position: relative;
    top: -70px;
}

.row .a img {
    border: .2px solid rgb(243, 227, 227);
    box-shadow: 3px 3px 3px 3px rgb(181, 181, 181);
}

.row .anchor a {
    text-decoration: none;
    margin: 3px 3px;
    background-color: rgb(226, 225, 225);
    border-radius: 15px;
    padding: 2px 10px;
    color: black;

}

.bx {
    box-shadow: 3px 3px 3px 3px rgb(167, 167, 167);
    border: 2px solid rgb(167, 167, 167);
    background-color: rgb(241, 240, 240, 0.1);
}

.universe_card {
    position: relative;
    /* width:10rem; */
    height: 18rem;
    width: 16rem;
    /* width: 100%; */
    color: #2e2d31;
    /* margin: 0.1%; */
    background: #131313;
    overflow: hidden;
    border-radius:0.5rem;
    transition: ease-in 0.10s;
    /* border:5px;
    border-style: ridge;
    border-color:black; */
    cursor: pointer;
    /* border:1px solid white */
    
}
.universe_card:hover{
    transform: scale(1.07);
}
.card_img { 
    /* padding: 10px; */
    /* border-radius: 50%; */
    height: 100%;
    /* width: 15rem; */
    width: 100%;
 }
.universe_card:hover .card_img{
    mix-blend-mode:difference;
}


.card_content {
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 5px;
    /* edit the width to fit card */
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    background: rgba(0, 0, 0, 0.800);
    /* border-top-left-radius: 20px; */
    /* edit here to change the height of the content box */
    /* transform: translateY(500px); */
    opacity: 0;
    transition: ease-in-out .3s;
}

/* .card_content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -50px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px rgba(0, 0, 0, 0.600);
} */

.card_title {
    padding:  0.8rem;
    color: white;
    cursor: pointer;   
}

.card_subtitle {
    display: block;
    font-size: 50%;
    margin-bottom: 5px;
    padding-left: 10px;
}
.card_category{
    color:white;
    padding-left: 0.6rem;
    font-style: italic;

}
.card_description {
    padding: 0.8rem;
    color: white;
    font-size: 80%;
    opacity: 0;
    transition: opacity .5s;
}

.universe_card:hover .card_content {
    transform: translateY(0);
    /* overflow: hidden; */
    opacity: 1
}

.universe_card:hover .card_description {
    opacity: 1;
    transition-delay: .15s;
    overflow: hidden;
}
.grid {
    display: grid;
    gap: 2rem;
  }
  .grid-three-column {
    grid-template-columns: repeat(4, 1fr);
  }