.responsive-diagonal {
    width: 100%;
    height: 52vh;
    background: #06065e
}
.profileEdit{
    width: 100%;
    height: 52vh;
    background: #06065e;
    opacity:0.8 
}
/* #pic{
        z-index: 2;
        position: absolute;
        bottom: 250px;
        right: 600px;
        border: 10px solid black;
    } */
.hoverBtnP {
    position: relative;
    cursor: pointer;
    /* transition: ease-in 2s; */
    width: 100%;
    text-align: center;
    z-index: 999;
    overflow: hidden;
}

.hoverBtnP span {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 0;
    display: inline-block;
    height: 100%;
    transition: ease-in-out 300ms;
    background-color: red;
    border-radius: 20px;
}

.hoverBtnP:hover span {
    width: 100%;
}

.hoverBtnP:hover {
    color: aliceblue;
}

.hoverBtnPAfter {
    background: #3a6186;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    cursor: pointer;
    /* transition: ease-in 2s; */
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 20px;
}

.hoverBtnPBefore:hover {
    cursor: pointer;
    color: white;
    /* transition: ease-in 2s; */
    width: 100%;
    text-align: center;
}

.hoverBtnPAfter:hover {
    cursor: pointer;
    background-color: none;

    /* transition: ease-in 2s; */
    width: 100%;
    text-align: center;
    color: blue;
    border-radius: 20px;
}