#wrap_block {
    background-color: rgb(0, 0, 0, 0.4);
    height: 100vh;
    width: 100wh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    #box {
        position: absolute;
        top: auto;
        z-index: 999999;
        margin: 0 2rem;
        width: 20rem;
        height: 20rem;
        // background-color: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        border: none;

        .btns {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
        }
    }
}