.player_container {
    // margin-bottom: 3rem;

    width: 99%;
    height: 99%;
    padding: 1rem;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 10px;
    color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // background-color: black;
    z-index: 2;
    background: linear-gradient(0deg, #000, #272727);

    >* {
        // padding: 1rem 0;
        color: rgb(202, 202, 202);
    }



    // &:before,&:after {
    //     content: '';
    //     // position: absolute;
    //     left: -2px;
    //     top: -2px;
    //     background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
    //         #0000ff, #00ff00,#ffff00, #ff0000);
    //     background-size: 400%;
    //     width: calc(100% + 4px);
    //     height: calc(100% + 4px);
    //     z-index: 999;
    //     animation: steam 20s linear infinite;
    // }

    // @keyframes steam {
    //     0% {
    //         background-position: 0 0;
    //     }
    //     50% {
    //         background-position: 400% 0;
    //     }
    //     100% {
    //         background-position: 0 0;
    //     }
    // }

    // &:after {
    //     filter: blur(50px);
    // }

    .pc_logo_div {
        width: 6rem;

        img {
            height: 100%;
            width: 90%;
            border-radius: 50%
        }
    }

    .pc_cover {
        width: 13rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 10px;

        img {
            max-width: 90%;
            border-radius: 20px
        }

    }




    .title {
        height: 6rem;
        font-size: inherit;
        text-align: center;
    }

    .navigation {
        height: 2rem;
        width: 90%;

        .navigation_wrapper {
            min-width: 100%;
            background-color: rgba(119, 119, 119, 0.781);
            height: 1rem;
            border-radius: 30px;
            cursor: pointer;

            .seek_bar {
                width: 0;
                height: 100%;
                // background-color: rgb(24, 128, 3);
                // background-color: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(255,0,0,1) 100%);
                background: rgb(131, 58, 180);
                background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
                border-radius: 30px;
            }

        }
    }

   

    .controls {
        width: 70%;
        height: 3rem;
        font-size: inherit;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        span {
            font-size: 10px;
            margin: 0 5px
        };

        .btn_action {
            font-size: 2rem;
            // margin: 0 1rem;
            cursor: pointer;
            border-radius: 50%;
            background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
            ;

            &:hover {
                color: white;
            }

        }

        .pp {
            font-size: 3rem;

        }

    }


    @media screen and (max-width: 767px) {
        .controls {
          width: 100%;
        }
      }
}