.pay_card_div {
    display: flex;
    justify-content: center;
    flex-direction: column;

    /* margin: 20px;
    padding: 20px;
    background:
      linear-gradient(to bottom right, #3C4BBD 15%, transparent),
      radial-gradient(circle at 100% 0%, rgba(255,255,255,.2) 10%, transparent 20%) center center / 15px 15px,
      linear-gradient(to bottom right, #3C4BBD, #57ADD8); */
}

@media screen and (max-width:991px) {
    .txt {
        text-align: center;
    }

    .btnnewpage {
        margin-top: -80px;
    }
}