
   .u-center-text {
    text-align: center !important;
  }
  
  .u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
  }
  
  .u-margin-bottom-medium {
    margin-bottom: 4rem !important;
  }
  
  .u-margin-top-big {
    margin-top: 5rem !important;
  }
  
  
  .heading-primary {
    color: #fff;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    /* margin-bottom: 6rem; */
  }
  
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    -webkit-animation-name: moveInLeft;
            animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    /*
          animation-delay: 3s;
          animation-iteration-count: 3;
          */
  }
  
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    -webkit-animation: moveInRight 1s ease-out;
            animation: moveInRight 1s ease-out;
  }
  
  .heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: transparent;
    letter-spacing: 0.2rem;
    line-height: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #eee;
  }
  
  .butn, .butn:link, .butn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    /* display: inline-block; */
    border-radius: 0.5rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    /* position: relative; */
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
  }
  
  .butn:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }
  
  .butn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
            transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  
  .butn:active, .butn:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  }
  
  .butn--white {
    background-color: #fff;
    color: #777;
  }
  
  .butn--white::after {
    background-color: #fff;
  }
  
  .butn--green {
    background: -webkit-gradient(linear, left top, right top, from(#fc466b), to(#3f5efb));
    background: linear-gradient(to right, #fc466b, #3f5efb);
    color: #fff;
  }
  
  .butn--green::after {
    background-color: #55c57a;
  }
  
  /* *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  } */
  
  /* html {
    font-size: 62.5%;
  } */
  
  /* body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  } */
  
  .section-plans {
    background-color: #000;
    padding: 4rem 0 4rem 0;
    /* margin-bottom: 10rem; */
  }
  
  .card {
    -webkit-perspective: 150rem;
            perspective: 150rem;
    -moz-perspective: 150rem;
    /* position: relative; */
    height: 33rem;
    width:1000px;
    background-color: black;
    /* margin-bottom: 50rem; */
  }
  
  .card__side {
    height: 33rem;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 1rem;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  
  .card__side--front {
    background-color: #fff;
  }
  
  .card__side--front-1 {
    background: linear-gradient(-45deg, #f403d1, #64b5f6);
  }
  
  .card__side--front-2 {
    background: linear-gradient(-45deg, #24ff72, #9a4eff);
  }
  
  .card__side--front-3 {
    background: linear-gradient(-45deg, #24ff72, #9a4eff);
  }
  
  .card__side--back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  
  .card__side--back-1 {
    background: linear-gradient(-45deg, #64b5f6, #f403d1);
  }
  
  .card__side--back-2 {
    background: linear-gradient(-45deg, #9a4eff, #24ff72);
  }
  
  .card__side--back-3 {
    background: linear-gradient(-45deg, #9a4eff, #24ff72);
  }
  
  .card:hover .card__side--front-1,
  .card:hover .card__side--front-2,
  .card:hover .card__side--front-3 {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
  }
  
  .card:hover .card__side--back {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  
  .card__title {
    /* height: 20rem; */
    /* padding: 0rem 2rem 0rem; */
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .card__title--1 .fas {
    font-size: 5rem;
  }
  
  .card__title--2 .fas {
    font-size: 5rem;
  }
  
  .card__title--3 .fas {
    font-size: 5rem;
  }
  
  .card__heading {
    font-size: 3.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 75%;
  }
  .card__heading__dol{
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 75%;

  }
  .card__heading__dol > span{
    font-size: 3rem;

  }
  
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }
  
  .card__details {
    padding: 0 2rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
  }
  .card__details__inner{
    width: 50%;
  }
  
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
  
  .card__details ul li {
    text-align: center;
    font-size: 1rem;
    padding: .5rem;
  }
  
  .card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
  }
  
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
  }
  
  .card__price-box {
    text-align: center;
    color: #fff;
    /* margin-bottom: 8rem; */
  }
  
  .card__price-only {
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
  
  .pay_row {
    max-width: 114rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .pay_row:not(:last-child) {
    /* margin-bottom: 5rem; */
    margin-top: 5rem;
  }
  
  .pay_row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .pay_row [class^="col-"] {
    float: left;
  }
  
  .pay_row [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
  }
  
  /* .pay_row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
  } */
  @media screen and (max-width:1000px) {
    .card {
    width:800px;
    height:38rem
    }
    .card__side {
        height: 38rem;
    }

}
@media screen and (max-width:800px) {
    .card {
    width:600px;
    height:52rem
    }
    .card__side {
        height: 52rem;
    }
    .card__details {
        flex-direction: column;
        
      }
      .card__details__inner{
        width: 100%;
      }
      .heading-secondary {
        font-size: 2.5rem;
       
        font-weight: 700;
        
        
      }

}
@media screen and (max-width:600px) {
    .card {
    width:400px;
    height:62rem 

    }
    .card__side {
        height: 62rem;
    }
    .card__details {
        flex-direction: column;
        
      }
      .card__details__inner{
        width: 100%;
      }
      .heading-secondary {
        font-size: 2.2rem;
       
        font-weight: 600;
        
        letter-spacing: 0.1rem;
        
      }
      .card__heading {
        font-size: 2.5rem;
        
      }
      .card__heading__dol{
        font-size: 2rem;
      }

}
@media screen and (max-width:400px) {
    .card {
    width:350px;
    height:67rem ;
    }
    .card__side {
        height: 67rem;
    }
    
    .card__details {
        flex-direction: column;
        
      }
      .card__details__inner{
        width: 100%;
      }
      .heading-secondary {
        font-size: 2rem;
       
        font-weight: 500;
        
        letter-spacing: 0.1rem;
        
      }
      .card__heading {
        font-size: 2.5rem;
        font-weight: 300;
        
      }
      .card__heading__dol{
        font-size: 2rem;
      }

}
  