.bgCss {
    background-color: #181823;
}

.bgchange {
    background-color: #181823 !important;
}

.btnCss {
    width: 100px;
    height: 10px;
}

@media screen and (max-width:1200px) {
    .btnpart {
        justify-content: center !important
    }
}