* {
    padding: 0;
    margin: 0;
}

.sidebar_container {
    position: relative;
}

.hamburger {
    display: none;
}

.sidebar_container .sidebar_ul {
    position: fixed;
    background-color: rgb(0, 0, 0);
    color: #fff;
    height: 100vh;
    width: 190px;
    z-index: 10;
    padding-left: 20px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}

.sidebar_ul li:nth-child(1) {
    text-align: center;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    margin-right: 19px;
    font-size: 36px;
    font-weight: 900;
    font-style: italic;
    font-family: emoji;
    padding-top: 30px;
}


.sidebar_ul li:hover:nth-child(1) {
    padding: 30px 0px;
    background-color: transparent;
    color: rgb(248, 1, 1);
}

.sidebar_ul li {
    padding: 12px;
    cursor: pointer;
    transition: all 0.5s;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.sidebar_ul li span:nth-child(1) {
    font-size: 20px;
}

.sidebar_ul li span:nth-child(2) {
    font-size: 16px;
}

.sidebar_ul li:hover {
    /* background-color: #EA2C62; */
    /* background: linear-gradient(245deg, rgba(0,0,0,0.9) 69%, rgba(255,0,0,1) 100%); */
    /* background: linear-gradient(245deg, rgba(0,0,0,0.9) , rgba(255,0,0,1)); */
    padding: 12px;
    color: #fff;
    transition: all 0.5s;

}

.sidebar_ul li:visited {
    background-color: #EA2C62;
    padding: 12px;
    color: #fff;
    transition: all 0.5s;

}

.logo {
    width: 60%;
}


.sidebar_container .content {

    padding-left: 75px;
}

#menu{
    display: none;
}
.dataResult h6 {
    text-align: center;
    color:lightgray;
    padding:.5rem;
    /* border: 1px dotted #00E7FF; */
    width: auto;
    /* background-color: black; */
}
.dataResultchild{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}
.dataResult {
    width: 85vw;
    height: 90vh;
    background-color: #191c24;
    border-radius: 5px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
    transition: ease-in-out 1s;
}
.dataResultParent{
    position:absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%, 0%);
}
.dataItem {
    width: 40vw;
    height: 50px;
    display: flex;
    align-items: center;
    color: #fff;
    cursor: pointer;
    margin:10px 0;
}


.dataItem p {
    margin-left: 10px;
}

.dataItem:hover {
    background-color: black;
}


@media only screen and (max-width: 1058px) and (min-width: 549px) {

    /* .sidebar_container{
        display: none;
       } */
    .dataResultParent{
        transform: translate(-50%, 0%);
    }
    .sidebar_container .sidebar_ul {
        position: fixed;
        /* background-color:rgb(0, 0, 0); */
        /* background-color:'lightgray' ; */
        background-color: #3C79F5;
        color: #fff;
        height: 50px;
        width: 100vw;
        /* z-index:10; */
        /* padding-left:20px; */
        /* box-shadow:0px 15px 30px rgba(0,0,0,0.1); */
    }

    /* .sidebar_ul li:nth-child(1){
        text-align: center;
    padding: 15px 5px;
    display: flex;
    justify-content: center;
    margin-right: 19px;
    font-size: 36px;
    font-weight: 900;
    font-style: italic;
    font-family: emoji;
    padding-top:30px;
} */

    .sidebar_ul li {
        /* padding:12px; */
        cursor: pointer;
        transition: all 0.5s;
        /* letter-spacing:1px; */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        /* gap:10px; */
        /* border-top-left-radius:30px;
    border-bottom-left-radius:30px; */
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-size: 10px;
    }

    .listItem {
        display: none;
    }

    /* .listIcon {
        /* width: 50px;

    } */

    .sidebar_ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo {
        width: 300%;

    }

}


@media only screen and (max-width: 550px) {
    .dataItem {
        width: 100%;
    }
    .dataResult h6 {
        width: 100%;
    }
    .dataResultchild{
        display: block;
        /* justify-content: space-between;
        width: 80vw; */
    }
    .dataResultParent{
        transform: translate(-50%, 0%);
    }
    .hamburger {
        display: block;
        /* background-color: rgb(255, 255, 255); */
        height: 50px;
        width: 100%;
        background-color: #3C79F5;
        padding-top: 1rem;

    }
    .sidebar_container .sidebar_ul {
        /* display: none; */
        width: 85%;
        height: 100%;
        position: fixed;
        /* z-index: -1; */
    }
    .burger-menu{
        height: 100%;
        width: 5em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        cursor: pointer;
        background:none;
    }
    .burger-bar{
        width: 3em;
        height: 0.4em;
        background-color: white;
        
    }
    .menu{
        width:'50%';
        height: 100vh;
        background-color: lightcoral;
        background: none;
        /* position: absolute; */
        /* z-index: -1; */
    }
    .hidden{
        display: none;

    }
    .visible{
        display: inherit;
        width: 85%;
        background: transparent;
    }
    .burger-bar.clicked:nth-child(1){
        transform: rotate(48deg) translate(0.1em,0.5em);
        transition: ease-out 0.5s;
    }
    .burger-bar.clicked:nth-child(2){
        transform:scale(0.1);
        transition: ease-out 0.5s;
    } 
    .burger-bar.clicked:nth-child(3){
        transform: rotate(135deg) translate(-0.7em,1.2em);
        transition: ease-out 0.5s;
    }
    .burger-bar.unclicked{
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175,0.885,0.32,1.275) 0.5s;
    }
}