.AppGlass{
    /* height: 100vh;
    width: 100vw; */


    /* display: grid;
    gap: 16px;
    grid-template-columns: 10.8rem auto; */
    overflow: auto;
    background-color: black;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 0.8rem !important;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    /* background: red; 
    border-radius: 10px; */
    /* background-color: #EA2C62; */
    background: linear-gradient(245deg, rgba(0,0,0,0.9) , rgba(255,0,0,1));
    /* background: #00E7FF; */
    border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, rgba(0,0,0,0.9) , rgba(255,0,0,1));; 
    }

    @media only screen and (max-width: 1058px) {
        .AppGlass{
        display: inline;
        gap: 5px;

        }

    }

