.main22 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bcz {
  margin-bottom: 100px;
}

.a {
  position: relative;
  top: -70px;
}

.row .a img {
  border: 0.2px solid rgb(181, 181, 181);
  box-shadow: 3px 3px 3px 3px rgb(181, 181, 181);
}

.row .anchor a {
  text-decoration: none;
  margin: 3px 3px;
  background-color: rgb(226, 225, 225);
  border-radius: 15px;
  padding: 2px 10px;
  color: black;
}

.bx {
  box-shadow: 3px 3px 3px 3px rgb(167, 167, 167);
  border: 2px solid rgb(167, 167, 167);
  /* background-color: rgb(241, 240, 240, 0.1); */
}
