.video-carousel-container {
  position: relative;
  /* height: 100vh; */
  /* overflow: hidden; */
}

.video-slide {
  position: relative;
  height: 100%;
}

.video-slide h3 {
  position: absolute;
  bottom: 10%; /* Adjust the desired distance from the bottom */
  left: 10px; /* Adjust the desired distance from the left */
  color: #fff;
  font-size: 40px;
}

.video-slide video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.arrow-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.arrow-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.arrow-btn.prev {
  margin-right: 10px;
}

.arrow-btn.next {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .carousel-arrows {
    display: none;
  }
}
