.main-div {
    min-height: 100vh;
    background-color: black;
    color: #fff;

    .cont-div {
        min-height: 100vh;
        width: 80%;
        background-color: #181823;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem;

        .pic {
            margin: 1rem 0;
        }

        // .cont_1 {}
        .div_table {
            .od_list {
                li {
                    margin-bottom: 0.8rem;
                }
            }
        }
    }
}

.main-div .container, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav{
    flex-direction: column;
}

.Navbar{
    height: 100%;
    background-color: #181823 !important;
}

.Navbar ul li{text-decoration: none;}

.tab {
    background-image:linear-gradient(90deg,rgb(243, 230, 254),white,rgb(255, 213, 213));
    background-clip: text;
    color: transparent;
}
.tab:hover {
    background-image:linear-gradient(90deg,rgb(243, 230, 254),white,rgb(255, 213, 213));
    background-clip: text;
    color: transparent;
}

.navbar .nav-item{
    align-items:start;
    margin-top: 5px;
    margin-bottom: 5px;}

.TermsBody{
    height: 100vh; 
    overflow-y: scroll;
    padding-left:10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbody{
    height: 75vh; 
    overflow-y: scroll;
    padding-bottom: 20px;
}


.navbody ul li {padding-left: 3px; padding-right: 3px;}


.Terms_heading{
    background-image:linear-gradient(90deg,rgb(210, 160, 255),white,rgb(255, 134, 134));
    background-clip: text;
    color: transparent;
    font-weight: 600;
    margin-bottom: 20px;
}

.actives {color: rgb(194, 255, 255); font-weight: bold;}
.actives:hover {color: aqua; font-weight: bold;}

.show{display: inline;}
.hide{display: none;}

.underline{
    width: 100%;
    height: 1px;
    background-color: rgb(207, 199, 185);
    margin-bottom: 7px;
}

// @media screen and (max-width:991px) {
//     .bckbtn{ position: relative; top: 3px; display: flex; justify-content: end; float: end; z-index: 1;}
//     .relative{position: absolute; top: -40px;}
// }