.prof_main {
  /* position: relative; */
  /* background-image: url('your-image.jpg'); */
  background-size: cover;
  background-color: rgba(128, 0, 255, 1);
  /* Adjust the color and opacity as needed */
  background-blend-mode: multiply;
  min-height: 150vh;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;



}

.profile_card {

  min-height: 80%;
  border-radius: 25px;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}

.image_container {
  width: 100%;
  /* Set the desired width of the container */
  height: 20rem;
  /* Let the height adjust automatically based on the aspect ratio */
  /* padding-bottom: 30%; Set the desired aspect ratio (480/1600 * 100) */
  position: relative;
  overflow: hidden;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.image_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.bg_edit_icon_div {
  width: 3rem;
  position: absolute;
  top: .5rem;
  right: .5rem;
}

.bg_edit_icon {
  background: white;
  color: black;
  border-radius: 50%;
  min-width: 2rem;
  min-height: 2rem;
  padding: 2px;
}

.prof_dashboard_btn {
  min-height: 3rem;
  /* min-width: 10rem; */
  position: absolute;
  top: .5rem;
  left: 1rem;
  justify-content: center
}
.prof_msg_btn{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
font-size:1rem !important;
width: 33.3%;


}

.new_prof_btn {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  border-radius: 20px;
  padding: 8px 10px;
  outline: none;
  border: none;
  font-size: .7rem;
  letter-spacing: 1px;
}
.new_prof_btn:hover{
  background-color: gray;
  color: white;
  scale: 1.05;
}
.prof_social:hover{
  color: gray;
  scale: 1.2;

}

.dash_btn {
  color: white;
  background-color: black;
}

.fol_msg_work {
  min-height: 3rem;
  position: absolute;
  bottom: .5rem;
  right: 1rem;
  justify-content: flex-end;
  gap: .5rem;
}

.socialMedia {
  width: 2rem;
}

.profLable {
  font-weight: bold;
}

.labelSpan {
  font-weight: 500;
}

.btn_like:hover {
  background-color: gold;
  color: black
}

.prof_container_left {
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
}

.prof_container_left img {
  top: -20%;
  left: 25%;
  position: absolute;
  border-radius: 50%;
  width: 12rem;
  height: 12rem;
 
}
.prof_name {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight:500;
  margin-bottom: 1rem; 
}
.prof_container_right{
  width: 100%;
  background: white;
}
.div_fptag_main{
  width:100%;
  min-height:50%;
}
.div_prof_details{
  width: 100%;
  min-height: 50%;
  padding: 1rem;
  text-transform: capitalize;
}
@media only screen and (max-width: 700px) {
  .prof_main {
    min-height: 150vh;
  }

  .profile_card {


    margin-top: 5rem;
  }

  .image_container {

    height: 15rem;

  }

  .new_prof_btn {


    font-size: .5rem;
    letter-spacing: .5px;
  }

  .bg_edit_icon {

    min-width: 1.5rem;
    min-height: 1.5rem;
  }

  .bg_edit_icon_div {

    top: .5rem;
    right: 0;
  }

  .prof_dashboard_btn {
    top: 0;
    left: 1rem;

  }
  .fol_msg_work {
    right: 0;
    justify-content: space-evenly;
    gap: .5rem;
  }
  .prof_msg_btn{
    font-size:.7rem !important;
    width: 30%;
    /* padding: 5px 5px !important; */
    letter-spacing: .5px;

    
    }

  .prof_container_left img {
    top: .5rem;
    left: 32%;
    width: 8rem;
    height: 8rem;
    
  }
 .prof_cat{
  font-size: .8rem;
 }


 .prof_container_right{
 flex-direction: column-reverse;
 gap: 2rem;
}
 .div_fptag_main{
 
}
}