/* 
.CardImg{
    position: absolute;
    left: 80px;
    top: 200px; */
/* 
    background: url('../../../america.png'); */
/* } */
/* .PDMain{
    height: 80vh;
    border: 1px solid rgb(121,9,22);
    border-radius: 20px;
    background: rgb(121,9,22);
    background: linear-gradient(110deg, rgba(121,9,22,1) 35%, rgba(255,255,255,1) 35%);
} */
.paymentCardImage{
    position:absolute;
    left: 80px;
    top: 200px
}

@media screen and (max-width:1022px) {
    .paymentCardImage{
        left: 10px;
    }
}
@media screen and (max-width:768px) {
    .paymentCardImage{
        display: none;
    }
}