.card__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    h1 {
        width: 90%;
        text-align: left;
        text-transform: capitalize;
        font-size: 2.2vw;
        font-weight: 600;
        color: rgb(0, 0, 0);
        @media screen and (max-width: 600px) {
                font-size: 1rem;

            }
    }
    

    &--inner {
        width: 85%;
        padding: 5px;
        display: block;

        &--card {
            // padding: 20px 0;
            padding: 20px 0 20px 5px;
            max-width: 300px;
            // color: rgb(0, 0, 0);
            font-size: 50px;
            text-align: center;
            // background-color: #0a9e88;
            margin-left: 10px;
            transition: all .1s ease;
// border-radius: 20px;
// height: 30px;


            h2 {
                color: rgb(58, 58, 58);
                font-size: 1.2vw;
                font-weight: 600;
                padding-left: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: left;
                line-height: 1;
                // @media screen and (max-width: 600px) {
                //     font-size: 5vw;

                // }
            }

            p {
                font-size: .8vw;
                font-weight: 400;
                // color: rgb(58, 58, 58);
                color: #0a9e88;

                // text-align: left;
                // padding-left: 1px;
                line-height: 0;

                span {
                    color: rgb(58, 58, 58);
                    font-size: 1.2vw;
                    font-weight: 600;
                    padding-left: 8px;
                }
            }

            img {
                width: 60%;    
                height: 11rem;
                border-radius: 1vw;
                overflow: hidden;
                // display: flex;
                // align-items: flex-end;
                // -webkit-box-pack: center;
                // justify-content: center;
                border-radius: 10px;

            }


            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }

            &--date_time {
                // margin-left: 0;
                display: flex;
                align-items: flex-start;
                justify-content: center;
                margin: auto;
                flex-direction: row;
                width:10rem;

                p {
                    color: #0a9e88;
                    font-weight: bold;
                    // justify-content:end;
                    margin-right: 2.5rem;
                    font-size: 0.6rem;
                }
            }
        }
    }

}

/* -------------------------------------------------------------- */
/* SLICK REACT CAROUSEL */
/* -------------------------------------------------------------- */
.slick-next,
.slick-prev {
    // padding: 14px;
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5vw;
    background-color: #fff;
    z-index: 99 !important;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 15px 5px;
    top: 40%;

    &:hover {
        background-color: #fff;

    }
}