.dashBody {
  position: relative;
  /* background: #000046; */
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #1CB5E0, #000046); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #1CB5E0, #000046); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(245deg, rgba(0,0,0,0.9) 69%, rgba(255,0,0,1) 100%); */
  min-height: 50vh;
  background-attachment :fixed;
  background-position: center;
background-color: black;

  overflow: hidden;
  width: 100%;
  /* height: 50vh; */
}

.sidebar {
  background: #667db6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}

.Dash_Main {
  position: absolute;
  width: 153px;
  height: 484px;
  right: 250px;
  top: -123px;

  background: #ff0000;
  /* mix-blend-mode: darken; */
  border-radius: 156px;
  transform: rotate(53.5deg);
}

.Dash_Main1 {
  position: absolute;
  width: 153px;
  height: 484px;
  right: 100px;
  top: -115px;

  background: #ff0000;
  /* mix-blend-mode: darken; */
  border-radius: 156px;
  transform: rotate(53.5deg);
}

.Dash_Main2 {
  position: absolute;
  width: 153px;
  height: 484px;
  right: -50px;
  top: -115px;

  background: #ff0000;
  /* mix-blend-mode: darken; */
  border-radius: 156px;
  transform: rotate(53.5deg);
}

.dashboarImage {
  position: absolute;
  width: 257px;
  height: 169px;
  right: 100px;
  top: 56px;

  background: url("../../../mepic.png");
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .Dash_Main {
    width: 100px;
    height: 280px;
    right: 150px;
    top: -123px;
  }

  .Dash_Main1 {
    width: 100px;
    height: 280px;
    right: 50px;
    top: -115px;
  }

  .Dash_Main2 {
    width: 100px;
    height: 280px;
    right: -70px;
    top: -115px;
  }

  .dashboarImage {
    width: 200px;
    height: 100px;
    right: 70px;
    top: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .Dash_Main {
    width: 100px;
    height: 290px;
    right: 200px;
    top: -110px;
  }

  .Dash_Main1 {
    width: 100px;
    height: 290px;
    right: 80px;
    top: -100px;
  }

  .Dash_Main2 {
    width: 100px;
    height: 290px;
    right: -50px;
    top: -100px;
  }

  .dashboarImage {
    width: 200px;
    height: 100px;
    right: 70px;
    top: 15px;
  }
}