.prog_div {
        position: fixed;
        right: 0%;
        top: 0%;
        /* left:; */
        z-index: 9999999999999999;
        /* transition: all 0.8s; */
        width: 100%;
        height: 20px;
        /* transition: all 0.2s; */
        opacity: 1;


}


.progress {
        height: 10px;
}