.searchInputs {
    display: flex;
}

.search input {
    background-color: #191c24;
    color:#eee;
    border: 0;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    padding: 15px;
    height: 40px;
    width: 280px;
    transition: ease-in-out .25s;
}


.searchIcon {
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #1C6DD0;
    display: grid;
    place-items: center;
    height: 40px;
    width: 30px;
}

.search input:focus {
    outline: none;
    color: #eee;
    width: 30vw;
}

.searchIcon svg {
    font-size: 28px;
    color: #eee;
    cursor: pointer;
}



.dataResult::-webkit-scrollbar {
    display: none;
}



#clearBtn {
    cursor: pointer;
}
@media only screen and (max-width: 550px) {
    .search input:focus {
        width: 280px;
    }
}