@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* *{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
} */

.Gpp{
    width: 55%;
    height:35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    border-radius: 10px;
    transition:3s;


    /* background: 'white'; */
    position: relative;
	/* margin: 300px auto 300px; */
	/* width: 500px; */
	/* height: 550px; */
	background: linear-gradient(0deg, #000, #272727);

}




.Gpp:before, .Gpp:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: 1;
	animation: steam 20s linear infinite;
    border-radius: 10px;

}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.Gpp:after {
	filter: blur(50px);
}
@media only screen and (max-width: 700px) {

	.Gpp{
		width: 100%;
	}

}