/* input[type="checkbox"] {
    visibility: hidden;
  } */

  input[type="checkbox"] + label:before {
    border: 1px solid #333;
    content: "\00a0";
    display: inline-block;
    font: 16px/1em sans-serif;
    height: 16px;
    margin: 0 .25em 0 0;
    padding: 0;
    vertical-align: top;
    width: 16px;
    zoom:50
  }
  input[type="checkbox"]:checked  {
    background:black;
    color: #333;
    content: "\2713";
    text-align: center;
  }
  input[type="checkbox"]:checked + label:after {
    font-weight: bold;
  }
  
  input[type="checkbox"]:focus{
      outline: rgb(59, 153, 252) auto 5px;
  }