@media screen and (max-width: 570px) {
  .container {
    padding: 0px 30px;
  }
  #author {
    font-size: 16px;
  }
}
.MebookMetaAuthor{
  background-image: url('../MeBookMeta\ First\ Page\ Image.jpg');
  width: 100%;
  background-size: 100% 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
}

.IdentityMain{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background:linear-gradient(rgb(20, 20, 20,0.7),rgb(25, 25, 25,0.7)); */
  z-index: 2
}

.modalIn{
  position: fixed;
  top: 12%;
  left: 30%;
  transform: translate(-25%,-20%);
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  /* z-index: -2; */
  
}
.modalIn p{
  font-size: 15px;
}

@media screen and (max-width:460px) {
  .modalIn{
    position: fixed;
    top: 37%;
    left: 1%;
    transform: translate(-2%,-65%);

    background-color: white;
    border-radius: 15px;
    padding: 20px;
    z-index: 2;
  }
  .modalIn p{
    font-size: 12px;
    padding: 0px !important;
  }
  .modalIn {
    padding: 10px !important;
  }
}

@media screen and (min-width:460px) and (max-width:695px) {
  .modalIn{
    position: fixed;
    top: 27%;
    left: 1%;
    transform: translate(-2%,-65%);

    background-color: white;
    border-radius: 15px;
    padding: 20px;
    z-index: 2;
  }
  .modalIn p{
    font-size: 12px;
    padding: 0px !important;
  }
  .modalIn {
    padding: 10px !important;
  }
}

@media screen and (min-width:695px) and (max-width:800px) {
  .modalIn{
    position: fixed;
    top: 20%;
    left: 1%;
    transform: translate(-2%,-65%);

    background-color: white;
    border-radius: 15px;
    padding: 20px;
    z-index: 2;
  }
  .modalIn p{ 
    font-size: 12px;
    padding: 0px !important;
  }
}

