.afterClick {
  width: 100%;
  height:70px;
  font-size: 15px;
  border-radius: 10px;
  margin: 10px;
  background: black;
  background:var(--Red) ;
  border: 2px solid white;
  color: white !important;
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 10px 8px white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.beforeClick{
  width: 100%;
  height:70px;
  font-size: 15px;
  border-radius: 10px;
  background-color: white;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* padding: auto auto; */
}
.afterClick:active{
  background-color: wheat;
}
/* .button:hover {
  background-color: white;
  border: 2px solid black;
  color: black !important;
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 10px 8px black;
} */
.button:active {
  background-color: #100892;
  border: 2px solid white;
  color: white !important;
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 10px 8px white;
}

#icon {
  z-index: 2;
  position: absolute;
  top: auto;
  right: -5px;
}
.MebookMetaCreator {
  background-image: url("../MeBookMeta\ First\ Page\ Image.jpg");
  width: 100%;
  background-size: 100% 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}




.IdentityMain{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background:linear-gradient(rgb(20, 20, 20,0.7),rgb(25, 25, 25,0.7)); */
  z-index: 2
}

.modalIn{
  position: fixed;
  top: 15%;
  left: 30%;
  transform: translate(-25%,-20%);
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  /* z-index: -2; */
  
}
.modalIn p{
  font-size: 15px;
}

@media screen and (max-width:460px) {
  .modalIn{
    position: fixed;
    top: 37%;
    left: 1%;
    transform: translate(-2%,-65%);

    background-color: white;
    border-radius: 15px;
    padding: 20px;
    z-index: 2;
  }
  .modalIn p{
    font-size: 12px;
    padding: 0px !important;
  }
  .modalIn {
    padding: 10px !important;
  }
}

@media screen and (min-width:460px) and (max-width:695px) {
  .modalIn{
    position: fixed;
    top: 30%;
    left: 1%;
    transform: translate(-2%,-65%);

    background-color: white;
    border-radius: 15px;
    padding: 20px;
    z-index: 2;
  }
  .modalIn p{
    font-size: 12px;
    padding: 0px !important;
  }
  .modalIn {
    padding: 10px !important;
  }
}

@media screen and (min-width:695px) and (max-width:800px) {
  .modalIn{
    position: fixed;
    top: 25%;
    left: 1%;
    transform: translate(-2%,-65%);

    background-color: white;
    border-radius: 15px;
    padding: 20px;
    z-index: 2;
  }
  .modalIn p{ 
    font-size: 12px;
    padding: 0px !important;
  }
}

