label {
  float: left;
}
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
.MebookMetaEdit{
  background-image: url('../MeBookMeta\ First\ Page\ Image.jpg');
  width: 100%;
  background-size: 100% 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position:center ;

}
/* @media screen and (max-width: 600px) {
    .MebookMetaimage {
      background-size: 120% 150%;
    
    height: 200vh;
  
    }
  } */