@media screen and (max-width: 570px) {
  .btn-get {
    width: 100%;
    padding: 15px 0px;
  }
}
.blink{
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes example {
  from {width: 232px; height: 130px;}
  to {width: 150px; height: 100px;}
}
#move{
  animation-name: move;
  animation-duration: 10s;
  position: relative;
  text-align: center;
  

  /* animation-iteration-count: infinite; */
}
@keyframes move {
  
  0%   { right:800px; top:0px;}
  /* 10%{right:300px; top:0px;}
  25%{right:100px; top:0px;} */
  50%{right:0px; top:0px;}
  /* 50%  {left:200px; top:0px} */
  /* 100% {right:200px; top:0px}   */
}