@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.socialIcon {
  cursor: pointer;
}

.ltdesc {
  background-color: #fff;
  min-width: 14rem;
  max-height: 13.5rem;
  margin-left: 9rem;
}

.desc {
  font-family: 'Poppins', sans-serif;
}

/* followers and following modal */
/* #dialog {
  height: 30rem;
  margin: auto;
  width: 33rem;
  padding: 0
}

#dialogCont {
  background: #191c24;
  height: 29rem;
  margin: 5px;
  padding: 1rem;
}

#crossIcon {
  cursor: pointer;
  color: white;
  z-index: 99;
  position: absolute;
  right: 4%;
  padding: 0;
}

#box1 {
  background: #191c24;
  color: #fff;
  padding: 0;
}

#box2 {
  background: #191c24;
  border-bottom: 1;
  border-color: blue;
  color: #fff;
  padding: 0;
}

.tab {
  color: #fff;
}

#searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  color: #fff;
}

#searchBar {
  width: 16rem;
  height: 2rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

#box3 {
  display: flex;
  padding: 0;
  width: 100%;
  background: #191c24;
  justify-content: flex-start;
  cursor: pointer;
}

#div1 {
  width: 20%
}

#avatar1 {
  width: 40;
  height: 40;
  margin: 10px;
}

#div2 {
  justify-content: left;
  width: 50%;
  margin: 10px;
}
#div2_1{
  width: 40%;
   margin: 10px;
}

#div3{
  width:30%;
}
#div3_1{
  width: 20%;
  margin: 10px;
}
#div4_1{
  width: 20%;
  margin: 10px;
} */

#searchBar {
  width: 16rem;
  height: 2rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

@media only screen and (max-width: 320px) and (min-width: 459px) {

}

@media only screen and (max-width: 460px) and (min-width: 899px) {}

@media only screen and (max-width: 900px) and (min-width: 1200px) {}
