#text {
  border-bottom: 5px solid #ffffff;
  color: #ffffff;
  width: 150px;
  font-size: 18px;
  margin: auto;
  margin-bottom: 34px;
}
#text1 {
  color: #ffffff;
  font-size: 18px;
  margin: 10px 0px;
  
}
