.avtar1{

}

#avtarImg1{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    /* position: relative; */
}


.avtar1{
    position: relative;
}

#dot1{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00FF47;
    bottom: 2px;
    right: 11px;
}

#hr1{
    /* margin-bottom: 1rem; */
    border-top: 2px solid whitesmoke;
    width: 100%;
    background: black;
    /* margin-top: 9px; */
  }

  #avtarImg2{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 3px solid whitesmoke;
    /* position: relative; */
}

.msgText{
    background-color: white;
    color: black;
    padding: .5rem .7rem !important;
    border-radius: 23px 0px 23px 0px;
}

#writeMsg{
    width: 100%;
    padding: .70rem 1rem;
    border-radius: 23px 0px 23px 0px;
}


.container-fluid {
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    overflow-y: scroll;
  } 

  /* .totalMsg .col-12, .row {
  
    overflow-y: auto;
  } 
   */
  #listMain1 {
    position: sticky;
    
    z-index: 999;
    
  }
  
  #typeMsg {
    /* background: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 67; */
   
  } 
  
 

  @media (max-width: 576px) {
   
    #mainIcon{
        position: absolute;
        top: 19rem;
        left: 1rem;
    
        }
  }
  
@media (min-width: 577px) and (max-width: 1051px) {
 
    #mainIcon{
        position: absolute;
        top: 19rem;
        left: 3rem;
    
        }

}


  @media (min-width: 1052px) {

    #mainIcon{
    position: absolute;
    top: 19rem;
    left: 17rem;

    }
  }
  .sended {
    justify-content: flex-end;
  }
  .recieved {
    justify-content: flex-start;
  }