#sideBar{
    /* color: green; */
    /* margin-top: 2rem; */
    /* height: 100vh; */
    padding: 0 10px;
    background-color: whitesmoke;
    /* border: 1px solid black; */
    color: black;
}
#searchDiv{
  border: 2px solid black;
  border-radius: 20px 1px 20px 1px;
  padding: 7px 15px;
}
#search:focus {
  outline: none;
 
}


#chatUl{
    list-style-type: none;
}

#avtarImg{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: 1px solid blue;
    /* position: relative; */
}

.avtar{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    
}

#dot{
    /* position: absolute; */
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #00FF47;
    bottom: 2px;
    right: 11px;
}

#search::placeholder {
    color: black; /* Change the color to your desired color */
  }

  #searchDiv{
    /* position: relative; */
  }
  #searchIcon{
    /* position: absolute; */
    top: 7px;
    right: 20px;
    font-size: 20px;
  }

  #hr{
    border-top: 2px solid black;
    width: 85%;
    margin-top: 0px;
    margin-bottom: 0px;
  }


  .msgNum_Num{
    /* position: absolute; */
    width:1.5rem;
    height: 1.5rem;
    background: #00FF47;
    border-radius: 50%;
text-align: center;
    /* padding:1px 3px; */
  }
#listMain{
    /* position: relative; */
}
.chat_list_name h4{
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 1.3rem;
line-height: 31px;
text-transform: capitalize;
}


@media (max-width: 576px) {

  /* .msgNot {
    position: absolute;
    background: #00FF47;
    top: 1rem;
    right: 0px;
    border-radius: 50%;
  } */

}


@media (min-width: 577px) and (max-width: 991px) {


}


@media (min-width: 992px) {
 
  /* .msgNot {
    position: absolute;
    background: #00FF47;
    top: 1.8rem;
    right: 0.3rem;
    border-radius: 50%;
    padding: 1px 8px;
} */

}