/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Source+Serif+Pro:ital,wght@1,300&display=swap');
 */
 /* *{
   font-family: 'Bebas Neue'!important;
   letter-spacing: 1px; 
  } */
  /* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400&family=Roboto:wght@300;400;500;700;900&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  *{
    font-family: 'Poppins', sans-serif;
  }
:root {
  --Black: rgb(0,0,0);
  --Red: linear-gradient(245deg, rgba(0,0,0,1) 69%, rgba(255,0,0,1) 100%); 
}


/* * {
  margin: 0px;
  padding: 0px;
  font-family: tekton-pro, sans-serif! important;
   font-style: normal ; 
   
}
@font-face {
  font-family: 'tekton-pro';
  src: url(./fonts/TektonPro-Regular.otf) format('opentype');
} */

.laptop{
  transition-duration:1s;
}
.laptop:hover{
  scale: 1.2;
}
.image{width: 100%; height: 350px;}
.explorebtn:hover{scale: 1.1;transition-duration:1s}
.carousel-item h4 {text-align: center;}
.carousel-item .btn {border: 1px solid black;padding: 5px; color: white;}
.carousel-item .row .col-12:hover {width: 100%;height: 110%;}
.carousel-item img{border-radius: 10px;}
.caro:hover{scale: 1.1;}

@media screen and (min-width:992px) and (max-width:1200px) {
  .image{height: 230px;}
}