.bgpadd{
    background:rgb(0, 0, 0);
    /* overflow-x: hidden; */
}

.cardtop{
      position: relative;}
.caro{
    position: absolute;
    background: linear-gradient(90deg,rgba(0, 0, 255), red);
    color: white;
    border: 1px blue solid;
    border-radius: 3px;
    top:80%;
    transform: translateY(-20%);
}
.cardtop{width:100%;height:230px}
.headfooterpad{background: rgba(0, 0, 0, 0.671);}
.paddfooter{margin-top:360px;margin-bottom:-100px;}
@media screen and (max-width:769px) {
    .cardtop{height:300px;}
    .paddfooter{margin-top: 450px;}
}
@media screen and (max-width:600px) {
    .cardtop{height:250px;}
    .paddfooter{margin-top: 400px;}
}
.EbookMeta_Studios{width: 78%; height: 250px;}
@media screen and (min-width:768px) and (max-width:991px) {
    .EbookMeta_Studios{width: 90%; height: 230px;}
}
.EbookMeta_Studios{transition-duration:  1s;}
.EbookMeta_Studios:hover{scale: 1.1;}
@media screen and (max-width:767px) {
    .EbookStudio{display: flex; justify-content: center; }
    .EbookStudioText{text-align: center;}
}
@media screen and (max-width:577px) {
   .btnClass{margin-top: 10px;}
}

@media screen and (max-width:1200px) {
  .LandingBox{height: 550px;}
}

@media screen and (max-width:768px) {
    .LandingBox{height: 650px;}
 }
 /* @media screen and (max-width:518px) {
    .LandingBox{height: 700px;}
 } */
 @media screen and (max-width: 538px) {
  .LandingBox{height: 750px;}
}
@media screen and (max-width: 490px) {
  .LandingBox{height: 800px;}
}
 @media screen and (max-width:443px) {
    .LandingBox{height: 850px;}
 }
 @media screen and (max-width:420px) {
  .LandingBox{height: 900px;}
}
 @media screen and (max-width:380px) {
    .LandingBox{height: 1000px;} 
 }
 @media screen and (max-width:355px) {
  .LandingBox{height: 1100px;} 
}
@media screen and (max-width:317px) {
  .LandingBox{height: 1200px;} 
}
@media screen and (max-width:306px) {
  .LandingBox{height: 1300px;} 
}

 @media screen and (max-width:295px) {
    .LandingBox{height: 1400px;} 
 }


 @media screen and (max-width:768px) {
  .cardIMG{height: 205px;} 
}
 

.LandingBox{
   border: 2px solid transparent;
   border-image: linear-gradient(0deg,rgb(136, 0, 255),white,red);
   border-image-slice: 1;
   box-shadow: 2px 2px 20px rgb(136, 0, 255), 2px 2px 20px red;
   min-height: 480px;
}

.cardtop{background: #181823;}


.imga img {
    width: 100%; height: 210px;
  }
  .img1{z-index: 1;}
  .img2{position: relative; left: 160px;top: -100px;}
  
  @media screen and (max-width:724px) {
    .imga .img1{z-index: 1;}
    .imga{position:relative; margin-bottom: 130px; margin-top: 80px;}
    .img2{position: absolute;top: -100px;left: 2px;}
    .img3{position: absolute; margin-top: 50px; margin-left: 170px;}
    .img1{margin-left: 2px;margin-top: 25px;}
}


  .imga{position: relative;}
  .img3{position: absolute; top: 108px; left: -170px;}

  .img3:hover{
    scale: 1.2;
    transition-duration: 1s;
    z-index: 1;
  }
  .img1:hover{
    scale: 1.2;
    transition-duration: 1s;
    z-index: 1;
  }
  .img2:hover{
    scale: 1.2;
    transition-duration: 1s;
    z-index: 1;
  }
  
@media screen and (max-width:281px) {
  .size{font-size: 23px;}
}


.marquee {
  width: 100%;
  white-space: nowrap;
  /* overflow: hidden; */
  box-sizing: border-box;
  animation: marquee 15s linear infinite;
  display: inline-block;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100% );
  }
}










