.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:linear-gradient(rgb(20, 20, 20,0.7),rgb(25, 25, 25,0.7))
   }
   .child{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 15px;
    padding: 20px;
   }