/* #partitioned {
    padding-left: 15px;
    letter-spacing: 42px;
    border: 0;
    background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 50px 1px;
    background-repeat: repeat-x;
    background-position-x: 35px;
   margin-top: 50vh;
    width: 220px;
    outline : none;
  } */
  input[type=number] {
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px;
    border: 1px solid #000000;
    border-radius: 10px;
  
    /* background-color:lightskyblue */
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}