
.card {
    padding: 30px 20px;
    margin-top: 10px;
    margin-bottom: 60px;
    border: none !important;
    /* box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2) */
}

.blue-text {
    color: #00BCD4
}

.sss {
    padding: 4px 10px;
    border-radius: 5px !important;
    margin: 5px 0px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    font-size: 100%;
    font-weight: 300;
    width: 100%;
}
.disIn{
    background-color: white;
}
.copyrightHead{
    background-image:linear-gradient(90deg,rgb(196, 128, 255),white,rgb(255, 110, 110));
    background-clip: text;
    color: transparent;
    font-weight: 600;
}

.BgCopyright{
    /* background:linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0)); */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /* border-radius: 20px; */
    /* border:1px solid rgba(255,255,255,0.18); */

    /* border: 2px solid transparent; */
   /* border-image: linear-gradient(0deg,rgb(136, 0, 255),white,red); */
   /* border-image-slice: 1; */
   /* box-shadow: 2px 2px 20px rgb(136, 0, 255), 2px 2px 20px red; */

    /* box-shadow:0 8px 32px 0 rgba(0,0,0,0.37); */

}
/* .BgCopyright{background: linear-gradient(90deg,rgba(0, 0, 255), red);} */

@media screen and (max-width:900px) {
    .BgCopyright{margin-top: 40px;}
}
