#workCard:hover {
  background-color: white;

  /* color: white; */
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.05);
  outline-color: transparent;
  outline-style: solid;
  /* box-shadow: 0 0 10px 10px #100892; */
}
.close {
  font-size: 50px;
  /* color: #100892; */
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 10px 8px white;
  background-color: red !important;
}

.fbtn {
  margin-top: 55px;
}

.cards {
  margin: 5px;
  padding: 20px 0px;
  border-radius: 15px;
  color: rgb(19, 19, 153);
  background-color: rgb(253, 252, 251);
}

.main {
  background: linear-gradient(rgb(1, 108, 231) 50%, rgb(237, 237, 237) 50%);
}

.middle {
  background-color: rgba(241, 241, 241);
}

.cards:hover {
  transform: scale(1.09);
}
#Card p {
  font-family: 'Bebas Neue'!important;
  letter-spacing: 2px; 
}
#paymentbtn{
  font-family: 'Bebas Neue'!important;
  letter-spacing: 2px;
}
.font1{
  font-size: 20px;
}