/* .main1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.row .button-pay:hover {
    color: white;
    background-color: rgb(0, 102, 255);
}

.row .button-top {
    font-weight: 700;
}

.combo {
    border: 1px solid silver;
    border-radius: 5px;
}

form .hide {
    border: 0px;
}

.icon-2 i {
    font-size: 20px;
    margin: 3px;


}

.icon-2 {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.Expiration {
    display: flex;
    justify-content: space-between;
}

.row .submit:hover {
    color: white;
    background-color: rgb(1, 1, 76);
    font-weight: bold;
} */
.credit:hover {
  /* background-color: #100892; */
  border: 2px solid white;
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 10px 8px white;
  transform: scale(1.1);
}
.cardSelect {
  transform: scale(1.3);
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px white,
    0 0 5px white, 0 0 40px white;
}
input[type="checkbox"]:checked {
  background: red;
  color: white;
}

.creditSelected {
  border: 2px solid white;
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 10px 8px white;
  transform: scale(1.1);
}

.creditParent {
  /* padding: 2px; */
  border: 1px solid red;
  border-spacing: 10px 10px;
}

.creditParent:hover {
  border: 2px solid #100892;
}

.paypal:hover {
  background-color: #100892;
  /* border: 1px solid red; */
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 10px 8px white;
  z-index: 2;
  /* position: relative; */
  bottom: 5px;
  zoom: 1.1;
}

.debit:hover {
  background-color: #100892;
  /* border: 1px solid red; */
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 10px 8px white;
  z-index: 2;
  /* position: relative; */
  bottom: 5px;
}
