@media screen and (max-width: 570px) {
  .container {
    padding: 0px 30px;
  }
  #author {
    font-size: 16px;
  }
}
.MebookMetaimage {
  background-image: url("../MeBookMeta\ First\ Page\ Image.jpg");

  width: 100%;
  background-size: 100% 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;

  /* animation: 1s ease-in-out infinite alternate; */
}
.MebookDetailSaved {
  background-image: url("../MeBookMeta\ First\ Page\ Image.jpg");

  width: 100%;
  background-size: 100% 100%;
  min-height: 91vh;
  background-repeat: no-repeat;
  background-position: center center;
}
.SubscriptionPic1 {
  background-image: url("../Picture1.jpg");
  width: 100%;
  background-size: 100% 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
}
.SubscriptionPic2 {
  background-image: url("../Picture2.jpg");
  width: 100%;
  background-size: 100% 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
}
/* .SubscriptionPic3{
    background-image:url('../Picture3.jpg');
    width: 100%;
    background-size: 100% 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position:center center;
  } */
.SubscriptionPic4 {
  background-image: url("../dollar.jpg");
  /* width: 100%; */
  background-size: 100%;
  /* height: 100%; */
  background-repeat: no-repeat;
  background-position: center 75%;
}
.SubscriptionPic5 {
  background-image: url("../Picture4.jpg");
  width: 100%;
  background-size: 100% 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
#sub:hover {
  background-color: #100892;
  border: 2px solid white;
  color: white !important;
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 10px 8px black;
  /* font-size: 50px; */
  /* zoom: 1.1; */
}
.meta {
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px white,
    0 0 5px white, 0 0 40px white;
}
.head {
  text-shadow: 0 0 15px white, 0 0 10px white, 0 0 25px white, 0 0 10px white,
    0 0 5px white, 0 0 40px white;
  font-weight: bolder;
}
.new {
  color: black;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

.tagname {
  font-weight: bolder;
}
.icon:hover {
  /* background-color: #100892;  */
  /* border: 2px solid white; */
  color: white !important;
  outline-color: transparent;
  outline-style: solid;
  text-shadow: 0 0 10px 8px #100892;
  /* font-size: 25px; */
  /* zoom: 1.1; */
}

@media screen and (min-width: 768px) {
  .meta {
    font-size: ".5rem";
    color: red;
  }
}
