.vdo_txt{
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
@media screen and (max-width:575px) {
    .ved_txt{
        justify-content: center !important;
    }
}

@media screen and (max-width:900px) {
    .MeImage{margin-top: 75px;}
}

@media screen and (max-width:900px) {
    .MainDivWritePitch{padding-top: 70px ;}
}
@media screen and (max-width:767px) {
  .pitchButton{
    display: block ;
    /* justify-content: space-between; */
  }
}
@media screen and (max-width:767px) {
  .pitchTextVideo{
    float: left !important;
    ;}
}


/* animation */

.dots-container {
    display: inline-flex;
  align-items: center;
  }
  
  .dot {
    height: 9px;
    width: 8px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #b3d4fc;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #044491;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #214eb6;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #569bee;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }