.main_card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100vw;
  height: 100vh;
}

.p__card {
  background-color: white;
  width: 90%;
  max-width: 900px;
  margin: 0px auto;
  padding: 80px 30px 25px 30px;
  float: none;
  /* margin-top: 80px; */
  border-radius: 5px;
  box-sizing: border-box;
  /* padding: 80px 30px 25px 30px; */
  text-align: center;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card__success {
  position: absolute;
  top: -8%;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #210062;
  border: 5px solid white;
}

.card__msg {
  /* text-transform: uppercase; */
  color: #55585b;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.card__submsg {
  color: #55585b;
  font-size: 18px;
  font-weight: 800;
  margin-top: 0px;
}

.card__body {
  background-color: #210062;
  border-radius: 4px;
  width: 100%;
  float: left;
  padding: 5px;
  color: #eee;
  box-sizing: border-box;
}

.card__recipient-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.8rem;
}

.card__recipient {
  color: white;
  font-weight: 600;
}

.card__price {
  color: white;
  font-size: 70px;
}

.card__price span {
  font-size: 60%;
}

.card__details {
  padding: 0 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.5rem;
}
.card__details__inner {
  width: 100%;
}

.card__details ul {
  list-style: none;
  width: 80%;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: row;
}

.card__details ul li {
  /* text-align: center; */
  font-size: 1rem;
  padding: 0.5rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

@media screen and (max-width: 935px) {
  .card__details {
    flex-direction: column;
    margin-bottom: 5px;
  }

  .card__success {
    position: absolute;
    top: -8%;
  }
}

@media screen and (max-width: 600px) {
  .card__msg {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .card__submsg {
    font-size: 14px;
  }

  .card__success {
    position: absolute;
    top: -6%;
  }

  .card__details {
    flex-direction: column;
    margin-bottom: 5px;
  }
  .card__details ul li {
    font-size: 14px;
    padding: 0.5rem 0;
  }
}
